<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

    <div th:fragment="card">
        <div class="mdl-cell mdl-card mdl-shadow--2dp mdl-cell--12-col">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Minecraft Server</h2>
            </div>
            <div class="mdl-card__supporting-text">
                We are hosting a minecraft server with our custom modpack.
                Join the game by connecting to &apos;<a id="toCopy">cockx.me/minecraft</a>'
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" onclick="copyUrl()">
                    Copy Url
                </a>
            </div>
            <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                </button>
            </div>
        </div>
    </div>
</body>
</html>