<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8"/>
    <title>Lennart Cockx - Portfolio</title>
    <link th:href="@{/css/main.css}" rel = "stylesheet" type = "text/css" href = "#" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"/>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</head>
<body>
    <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100 is-upgraded">
                <th:block th:include="fragments/navbar :: navbar">test</th:block>
                <main class="mdl-layout__content">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                        <div class="mdl-cell mdl-cell--8-col">
                             <th:block th:include="fragments/card :: card"></th:block>
                        </div>
                    </div>
                    <div class="mdl-grid">
                          <div class="mdl-card mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__supporting-text">
                            <h4>Technology</h4>
                            Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse. Pariatur occaecat nisi laboris tempor laboris eiusmod qui id Lorem esse commodo in. Exercitation aute dolore deserunt culpa consequat elit labore incididunt elit anim.
                        </div>
                        <div class="mdl-card__actions">
                            <a class="mdl-button" href="#">Read our features</a>
                        </div>
                    </div>
                    </div>
                </main>
    </div>


</body>

</html>
