<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Lennart Cockx - Sketchbook</title>
    <link rel = "stylesheet" type = "text/css" href = "css/sketchbook.css" />
</head>
<body>
<div th:replace="fragments/navbar :: navbar">
</div>
<div class="main-content">
    <h3>Spring examples:</h3>
    <a title="add ?name='something' in the address bar to customize the message response" href="/greeting">Rest response example</a>
</div>

</body>
</html>